@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');
 
/*Estilos en página de inicio.*/
*{  
    box-sizing: border-box;
    margin: 0px;
    padding: 0px;
    font-family: "Roboto";
    flex-wrap: wrap;
  }
 
li, a{
    font-family: "Roboto";
    font-weight: normal;
    font-size: 25px;
    color: rgb(253, 253, 253);
    text-decoration: none;
  }
 
header{
  display: flex;
  justify-content: flex-end;
  align-items: center;
  padding-right: 200px;
  margin: 0px;
  background-color:#424B54;
}
 
.logo{
  cursor: pointer;
  margin-right: 40%;
  width: 135px;
  height: 100px;
  
}
 
.nav_links {
  list-style: none;
}
 
.nav_links li {
display: inline-block;
padding: 25px;
margin: 20px;
}
 
.nav_links li a{
transition: all 0.3s ease 0s;
}
 
.nav_links li a:hover{
  color: rgb(99, 94, 94);
}
 
.biglogo{
  margin: 250px;
  position:absolute;
  top: 50px;
  right: 0px;
  width: 450px;
  height: 450px;
}
 
.titulo{
  font-family: "Roboto";
  font-size: 20px;
  text-align:center;
  color: rgb(0, 0, 0);
  background-color: rgb(255, 255, 255);
  height: 250px;
  position:fixed;
  padding: 20px;
  margin: 20px;
  top:380px;
  left: 160px; 
}
 
.Btn-Products{
  position: relative;
  background: #424B54;
  color:white;
  display: inline-block;
  font-size: 1.25em;  
  top: 560px;
  left: 280px;
  padding: 20px 0px;
  font-family: "Roboto";
  text-align: center;
  width: 200px;
  box-shadow: 0px 3px 0px #000000;
 
  }
  .Btn-Products:hover{
  background: rgb(99, 94, 94);
  }
 
  .Btn-Products:active{
    background: rgb(141, 42, 42);
  }
 
  /*Estilos en página de productos.*/
 
  .fotos{
    display: inline;
    height: 400px;
    width: 400px;
    margin-top: 180px;
    margin-left: 120px;
 
  }
  .btn1{
    text-align: center;
    display: inline-block;
    position: relative;
    background:#424B54 ;
    color:white;
    font-size: 1.25em;
    font-family: "Roboto";
    width: 400px;
    height: 103px;
    box-shadow: 0px 3px 0px #000000;
    margin: 10px;
    padding: 10px;
    left: 230px;
    
   }
 
  .btn1:hover{
    background: rgb(99, 94, 94);
  }
 
  .btn2{
    text-align:center;
    display: inline-block;
    position: relative;
    background: #424B54;
    color:white;
    font-size: 1.25em;
    font-family: "Roboto";
    width: 400px;
    height: 103px;
    left: 330px;
    margin: 10px;
    padding: 10px;
    box-shadow: 0px 3px 0px #000000;
  }
 
  .btn2:hover{
    background: rgb(99, 94, 94);
 
  }
.btn3{
    text-align:center;
    display: inline-block;
    position: relative;
    background: #424B54;
    color:white;
    font-size: 1.25em;
    font-family: "Roboto";
    width: 400px;
    height: 103px;
    left: 430px;
    margin: 10px;
    padding: 10px;
    box-shadow: 0px 3px 0px #000000;
  }
 
  .btn3:hover{
    background: rgb(99, 94, 94);
    
  }
body{
  background:#424B54;
  background-image: url("../img/fondo.jpg")
}
 
/* Atributos página de pago*/
.payment{
  position: absolute;
  width: 400px;
  height: 600px;
  background: #F0F0F0;
  margin: 80px auto;
  height: 600px;
  padding: 35px;
  padding-top: 30px;
  border-radius: 5px;
  position: relative;
  text-align:justify;
  
  
  
}
.payment h2{
  text-align: center;
  letter-spacing: 2px;
  margin-bottom: 40px;
  margin-top: 30px;
  color: #0d3c61; 
  font-family:"Roboto";
  font-style: normal;
  font-weight: bold;
  font-size: 30px;
  line-height: 35px;
  color: #424B54; 
}
 
.label{
  display: block;
  color: #555555;
  padding: 6px;
  text-align: justify;
}
.input{
  padding: 13px 2px 13px 25px;
  width: 100%;
  text-align: center;
  border: 2px solid #dddddd;
  border-radius: 5px;
  letter-spacing: 1px;
  word-spacing: 4px;
  font-size: 16px;
  color: #424B54;
}
#btnPay{
  margin-top: 40px;
  background: #424B54;
  padding: 12px;
  text-align: center;
  color: #f8f8f8;
  border-radius: 5px;
  cursor: pointer;
  width: 330px;
}
