*{
    margin: 10px;
    padding: 10px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    color: lawngreen;
  }

.payment{
    background: #000000;
  max-width: 360px;
  margin: 80px auto;
  height: auto;
  padding: 35px;
}  

.contenedor h2{
text-align: center;}